<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" charset="UTF-8">
    <title>Chat</title>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.0/sockjs.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Chat</title>

    <style type="text/css">
        .container {
            word-break: break-all;
        }
        .media-list {
            width: 1100px;
            overflow: auto;
            min-height: 470px;
            max-height: 470px;
        }
        h1 {
            color: #333366;
            font-family: sans-serif;
            margin-left: 20px;
        }
        .card {
          margin-top: 50px;
          width: 1140px;
          height: 645px;
          border-radius: 10px;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
          background-color: #f8f8f8;
        }
        .card-header {
            background-color:  #6c757d;
            color: white !important;
            box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        }
        .form-control {
            border-radius: 10px;
            margin-right: 20px;
        }

        #leave-join-message {
            text-align: center;
            font-weight: bold;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row " style="padding-top:40px;">
        <div class="card">
            <div class="card-header" align="center">
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <p class="card-text">GromGorod CHAT</p>
                    </div>
                    <div class="col">
                        <a type="button" class="btn btn-secondary pull-right" id="logout">LOGOUT</a>
                    </div>
                </div>
            </div>
                <br/><br/>
                <div class="card-info">
                    <div class="card-block">
                        <ul class="media-list"></ul>
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Message" id="messageText" autofocus="" required/>
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button" id="sendMessage">SEND<span class="glyphicon glyphicon-send"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>


<script>
        var stompClient = null;
        var enterButton = 13;
        var author = $.cookie("chat-nickname");

        function scrollToNewMessage() {
            var $container = $('.media-list');
            $container.animate({scrollTop: $container[0].scrollHeight}, "fast");
        }

        window.onbeforeunload = function (e) {
            var message = "The message field will be cleared. Are you sure you want to leave?";
            var result = window.confirm('Do you really want to quit?');
            if (result) {
                disconnect();
                e.returnValue = message;
            }
            return message;
        };
        


        function sendJoinMessage() {
            var joinMessage = author + " connected to chat";
            stompClient.send("/app/newMessage", {}, JSON.stringify({ 'text': joinMessage,
                'author': author, 'type': 'JOIN'}));
        }

        function sendLeaveMessage() {
            var leaveMessage = author + " leave from chat";
            stompClient.send("/app/newMessage", {}, JSON.stringify({ 'text': leaveMessage,
                'author': author, 'type': 'LEAVE'}));
        }

        function disconnect() {
            if (stompClient != null) {
                sendLeaveMessage();
                stompClient.disconnect();
            }
        }

        function connect() {
            stompClient = Stomp.over(new SockJS('/newMessage'));
            stompClient.connect({}, function() {
                stompClient.subscribe('/topic/newMessage', function(message){
                    refreshMessages(JSON.parse(JSON.parse(message.body).message));
                });
                if ($.cookie("flagNoNeedConnectM") === "false") {
                    sendJoinMessage();
                }
                $.cookie("flagNoNeedConnectM", "true");
            });
        }

        function sendMessage() {
            var message = $("#messageText").val();
            if (message.trim() !== "") {
                stompClient.send("/app/newMessage", {}, JSON.stringify({
                    'text': message, 'author': author, 'type': 'CHAT'
                }));
                $("#messageText").val("");
            }
            scrollToNewMessage();
        }

        function refreshMessages(messages) {
            $.each(messages, function (i, message) {
                if (message.type === 'CHAT') {
                    $(".media-list").append('<li class="media"><div class="media-body">'
                        + message.text + '<br/><small class="text-muted">' + message.author + ' | ' +
                        message.createDate + '</small><hr/></div></li>');
                } else if (message.type === 'JOIN') {
                    $(".media-list").append('<li class="media"><div class="media-body" id="leave-join-message">'
                        + message.text + '<hr/></div></li>');

                } else if (message.type === 'LEAVE') {
                    $(".media-list").append('<li class="media"><div class="media-body" id="leave-join-message">'
                        + message.text + '<hr/></div></li>');
                }
            });
            scrollToNewMessage();
        }

        $(function() {
            if (author === 'undefined') {
                window.location = "/login"
            }
            connect();

            $("#sendMessage").click(function () {
                sendMessage()
            });

            $('#messageText').keyup(function (e) {
                if (e.keyCode === enterButton) {
                    sendMessage();
                }
            });

        });
    </script>
</body>
</html>