<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" charset="UTF-8">
    <title>Login</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <h1 class="login" align="center">Login Page</h1>
</head>
<body>
<div class="form-group" align="center">
    <form role="form" id="frm-login">
        <div>
            <input class="form-control" placeholder="Enter Nickname" name="nickname" id="nickname" type="text" autofocus="" required=""/>
        </div>
        <div>
            <input class="form-control" placeholder="Enter PassWord" name="password" id="password" type="text" autofocus="" required=""/>
        </div>
        <button class="btn" type="submit">Enter Chat</button>
    </form>
</div>

<script>
    $('.btn').css({"margin": "1%","font-size": "14px", "cursor": "pointer", "min-height": "20px"});
    $('.login').css({"color": "#333366", "font-family": "sans-serif"});

    $(function(){
        /*if ($.cookie("chat-nickname")) {
            window.location = "/chat"
        } else {*/
        $("#frm-login").submit(function(event) {
            event.preventDefault();
            if ($("#nickname").val() !== '') {
                $.cookie("chat-nickname", $("#nickname").val());
                window.location = "/chat";
            }
        })
        //}
    })
</script>

</body>
</html>